<form class="search" action="/search">
  <input id="q" name="q" type="text" value="<%= params[:q] %>" placeholder="<%= t 'search_friends' %>"/>
  <input type="submit" value="<%= t 'label.search' %>"/>
  <div class="fb-like" data-href="https://www.facebook.com/goalnect" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
</form>
