<article class="box-grande">
<h2>Send Emails for</h2>
<br/>
<p><%= link_to 'goal without donations', "/send_emails/for_goal_without_donations", :class => 'btn btn-success'  %></p>
<br/>
<p><%= link_to 'donation received', "/send_emails/for_donation_received", :class => 'btn btn-primary' %></p>
</article>