<div class="span12">


<div id="whyContent">
  <a name="why"></a>
  <iframe class="video_frame" src="http://player.vimeo.com/video/46359215?title=0&amp;byline=0&amp;portrait=0&amp;api=1" width="640" height="385" frameborder="0" webkitallowfullscreen="" allowfullscreen=""></iframe>  
</div>


<div id="howContent">
  <a name="how"></a>
  <%= image_tag("flow.newVersion.png", class: "flowImage") %>
</div>


<div id="homeContent">
        <a href="#how" id="howImage"></a>
        <a href="#why" id="whyImage"></a>
        <a name="home" id="startHome"></a>
</div>


</div>



