</div><!-- /centraliza //-->
<section id="clouds">
	<div class="centraliza">
		<h1>Qual é seu desejo?</h1>
	</div><!-- /centraliza //-->
</section><!-- /clouds //-->
<section id="my-goal-is">
	<div class="centraliza">
		<div id="my-goal-is-infos">
			<%= render 'goals/goal_template_form', :achiever_username => "" %>
		</div><!-- /my-goal-is-infos //-->
		<section id="box-login">
			<h2>Login</h2>
			<input type="text" name="login">
			<input type="password" name="password">
		</section><!-- /box-login //-->
	</div>
</section><!-- /my-goal-is //-->

<section id="steps">
	<div class="centraliza">
		<h1>Wait, how it works?</h1>
		<ul class="cycle">
			<li>dsfsdfds</li>
			<li>222222</li>
			<li>3333</li>
		</ul>
		<div id="nav-cycle"></div>
	</div><!-- /centraliza //-->
</section><!-- /steps //-->

<section id="video">
	<div class="centraliza">
		<h1>Turn off the lights</h1>
		<div class="video-player">
			<img src="http://localhost:3000/assets/video-thumb.png" alt="" />
		</div>
	</div><!-- /centraliza //-->
</section><!-- /video //-->

<section id="bottom-section" clear="" >
	<div class="centraliza clearfix"> 
		asdfasdf
	</div>
</section>


<div class="centraliza">