<section id="conteudo-cima" clear="">
	<div class="centraliza clearfix">
		<div class="coluna1">
			<article class="box-pequeno">
				<figure>
					<img src="imagens/apagar/perfil.jpg" alt="" />
				</figure>
				<p><strong>Rodrigo Medeiros</strong></p>
			</article><!-- /box-pequeno //-->
			<article class="box-pequeno">
				<p>Rodrigo Medeiros <br />Rodrigo Medeiros <br />Rodrigo Medeiros</p>
			</article><!-- /box-pequeno //-->
			<article class="box-pequeno">
				<p>Rodrigo Medeiros</p>
			</article><!-- /box-pequeno //-->
		</div><!-- /coluna1 //-->
		
		<div class="coluna2">
			<article class="box-grande">
				<section id="infos-goal" class="clearfix">
					<figure class="imagem-goal">
						<img src="imagens/apagar/goal.png" alt="">
					</figure>
					<section class="descricao-goal">
						<h2 class="titulo-goal">Parar de Fumar</h2>
						<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution he point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
						<div class="status-bar">
							<div class="progress" style="width:10%;"></div>
						</div><!-- /status-bar //-->
						<section class="valores">
							<p>R$ 960 / R$ 2000</p>
							<p class="porcentagem">8%</p>
						</section><!-- /valores //-->
						<div class="social-plugins">
							
						</div><!-- /social-plugins //-->
					</section><!-- /descricao-goal //-->
				</section><!-- /infos-goal //-->

				<section id="status-goal" class="clearfix">
					<figure>
						<img src="imagens/apagar/status-goal.jpg" alt="Status Goal" />
					</figure>
					<p class="font18 fonte-benton azul-escuro">Yeah! <br />Metade do caminho percorrido.</p>
					<ul id="opt-junto-duvido">
						<li><a href="#" title="Tamo junto" class="sprite botao-tamo-junto"><span class="qte">93132</span> <span class="titulo-botao">Tamo junto</span></a></li>
						<li><a href="#" title="Duvido" class="sprite botao-duvido"><span class="qte">12</span> <span class="titulo-botao">Duvido</span></a></li>
					</ul>
				</section><!-- /status-goal //-->
				<section id="infos-instituicao" class="clearfix">
					<p class="sprite dias-restantes font12 fonte-benton azul-escuro">Restam <br /> <span class="font30">122</span> <br /> dias</p>
					<figure class="logo-instituicao">
						<img src="imagens/apagar/logo-institucional-90x90.jpg" alt="" />
					</figure>
					<article class="descricao-instituicao">
						<p class="font14 fonte-benton cinza-claro">Vamos juntos, esse Goal vai apoiar a</p>
						<h3>Sociedade Pestalozzi da Paraiba</h3>
					</article><!-- /descricao-instituicao //-->
					<p><a href="#" title="Apoiar" class="sprite botao-apoiar">Apoiar</a></p>
				</section><!-- /infos-instituicao //-->
			</article><!-- /box-grande //-->
		</div><!-- /coluna2 //-->

	</div><!-- /centraliza //-->
</section><!-- /conteudo-cima //-->