<article class="box-pequeno">
	<figure>
		<a href="<%= charity_show_path charity.id %>" >
	        <%= img_tag charity, :thumb %>
	    </a>
	</figure>
	<p>
	<h5>
		<a href="<%= charity_show_path charity.id %>" >
			<%= charity.charity_name %>
	    </a>
	</h5>
	</p>
</article><!-- /box-pequeno //-->
