<%- model_class = Charity -%>
<article class="box-grande">
<div>                     
  <h2><%= t "charities.onestep"%></h2>
  <h3><%= t "charities.emailpreference"%></h3>      
<%= render :partial => 'form' %>
                                       
</div>
</article>