<div class="static" id="terms">

	<h1> Termos de Uso </h1>

	<p class="strong">
		Leia com atenção os termos de uso. O uso do site implica no aceite destes termos.
	</p>

	<p>
		O acesso ao conteúdo do website GOALNECT dependerá da sua plena concordância com os termos e condições de uso aqui previstos.
	</p>
	<p>
		Este Termo de Uso apresenta as "Condições Gerais" aplicáveis ao uso dos serviços oferecidos por HAYPER DESENVOLVIMENTO DE SOFTWARES LTDA - ME, sociedade limitada, inscrita no CNPJ sob n.º 08.175.080/0001-28,
		doravante denominado "GOALNECT”.
	</p>

	<h2>O que é o GOALNECT?</h2>
	<p>
		O GOALNECT é uma plataforma de <a href="http://pt.wikipedia.org/wiki/Financiamento_coletivo" target="blank">FINANCIAMENTO COLETIVO ("crowd funding")</a>
		com o objetivo de arrecadar doações em nome de Instituições de Caridade e demais organizações do Terceiro Setor doravante denominadas ONGS (Organizações Não Governamentais e Sem Fins Lucrativos).
		O GOALNECT permite que um CRIADOR DE GOALS crie uma página definindo uma META PESSOAL doravante denominada GOAL (Ver seção "O que é um GOAL").
		O CRIADOR DE GOALS também escohe uma ONG para a qual deseja
		angariar fundos dos APOIADORES interessados em ajudar.
		O valor total angariado dos APOIADORES é repassado a ONG escolhida, descontados o percentual devido ao GOALNECT e as tarifas cobradas pelo serviço de pagamentos online.
		Se o GOAL for atingido com sucesso, o GOALNECT creditará PONTOS GOALNECT para os APOIADORES e para o CRIADOR DO GOAL.
	</p>

	<p>
		O GOALNECT apenas aproxima CRIADORES DE GOALS, APOIADORES e ONGS.
		A utilização da plataforma do site não gera relação de trabalho, vínculo empregatício,
		associação nem sociedade entre os usuários e o GOALNECT, nem tampouco representa transação comercial ou venda de produtos ou serviços.
	</p>

	<p>
		A HAYPER é responsável pelo bom funcionamento do website GOALNECT.
		Entretanto, não garante que os GOALS serão atingidos, isentando-se de responsabilidade a respeito, com o que concordam expressamente os CRIADORES DE GOALS, APOIADORES e ONGS,
		que devem dirimir eventuais problemas diretamente entre si.
	</p>

	<h2>O que é um GOAL?</h2>
	<p>
		Um GOAL é uma meta pessoal, um sonho que o CRIADOR DE GOALS quer alcançar.
		A palavra é um estrangeirismo da língua inglesa. Goal: Objetivo/Meta.
		O GOAL, criado pelo CRIADOR DE GOALS, deve ser específico, possuir prazo definido, uma ONG e uma quantia mínima de arrecadação.
	</p>

	<h2>Definições, responsabilidades e direitos</h2>

	<h3>Usuário</h3>
	<p>
		Pessoa física, cadastrada no <strong>GOALNECT</strong>.
	</p>

	<h3>CRIADOR DE GOALS</h3>
	<p>
		<strong>CRIADOR DE GOALS</strong> é o usuário do GOALNECT interessado em atingir um GOAL (meta pessoal) e, através deste, angariar fundos para uma ONG.
	</p>
	<p>
		O <strong>CRIADOR DE GOALS</strong>:
		<ol>
			<li>
				Descreve os seus GOALS (metas pessoais), que devem ser necessariamente verdadeiros, lícitos e de acordo com a legislação brasileira;
			</li>
			<li>
				Estipula o valor mínimo que deseja arrecadar para a ONG escolhida;
			</li>
			<li>
				Estipula o prazo em que deseja atingir o seu GOAL com no mínimo 5 dias e no máximo 1 ano;
			</li>
			<li>
				Se compromete em repassar um acompanhamento dos resultados na sua página no website GOALNECT, como forma de prestação de contas aos APOIADORES;
			</li>
			<li>
				Tem direito a receber a distribuição de PONTOS GOALNECT se o seu GOAL for atingido dentro do prazo definido;
			</li>
		</ol>
	</p>

	<h3>APOIADOR</h3>
	<p>
		<strong>APOIADOR</strong> é o usuário do GOALNECT interessado em incentivar um ou mais
		CRIADORES DE GOALS por meio de doações vinculadas às ONGS escolhidas pelos CRIADORES DE GOALS.
	</p>
	<p>
		O <strong>APOIADOR</strong>:
		<ol>
			<li>
				Escolhe o GOAL que deseja apoiar;
			</li>
			<li>
				Estipula o valor da doação que deseja fazer para a ONG escolhida e informada pelo CRIADOR DO GOAL que deverá ser no mínimo R$<%= GoalDonation::MIN_AMOUNT %> reais;
			</li>
			<li>
				Tem direito a receber a distribuição de PONTOS GOALNECT se o GOAL for atingido dentro do prazo definido pelo CRIADOR DO GOAL;
			</li>
		</ol>
	</p>

	<h3>ONG</h3>
	<p>
		<strong>ONG</strong> é uma Instituição, Fundação, Associação, OSCIP ou demais organizações do Terceiro Setor que pode ser escolhida pelo CRIADOR DE GOALS como destino das doações feitas pelos seus APOIADORES.
	</p>
	<p>
		A <strong>ONG</strong>:
		<ol>
			<li>
				Descreve suas atividades e como as doações são utilizadas;
			</li>
			<li>
				Autoriza o GOALNECT a receber doações em seu nome;
			</li>
			<li>
				Tem o direito de receber o valor de todas as doações, descontadas as taxas, feitas pelos APOIADORES de um CRIADOR DE GOAL que tenha escolhido esta ONG;
			</li>
			<li>
				Nomeia usuários administradores, que terão acesso a relatórios e edição da página da ONG no site Goalnect;
			</li>
		</ol>
	</p>
	
	<h3>PORTAL DA ONG</h3>
	<p>
		Espaço virtual acessado de forma remota que permite a <strong>PARCEIRA</strong> visualizar valor total arrecadado, <strong>GOALs</strong> cadastrados com associação à <strong>PARCEIRA</strong> e espaço para publicação conteúdo (blog), que ficará visível na <strong>PÁGINA DA ONG</strong>.
	</p>
	
	<h3>PÁGINA DA ONG</h3>
	<p>
		Espaço virtual acessado de forma remota pelo <strong>CRIADOR DE GOALs</strong> ou <strong>APOIADOR</strong> para visualizar conteúdo publicado pela <strong>PARCEIRA</strong>.
	</p>

	<h2>Registro</h2>
	<p>
		Qualquer pessoa maior de idade pode utilizar os serviços do GOALNECT.
	</p>
	<p>
		<strong>NÃO É AUTORIZADA</strong> a participação de usuários menores de dezoito anos de idade. Caso seja verificada eventual infração desta disposição, o GOALNECT cancelará, de imediato, o cadastro do usuário.
	</p>
	<p>
		O GOALNECT utiliza as informações de registro da rede social Facebook. O acesso à conta poderá ser feito digitando-se o nome de usuário e senha nos campos de login no Facebook.
		O usuário é o único responsável pela segurança de seu nome de usuário e senha. É por meio desses dados que o usuário pode acessar e alterar suas informações pessoais e outros dados de seu cadastro.
	</p>
	<p>
		Caso haja qualquer suspeita de uso indevido ou não autorizado de sua conta, o usuário deve notificar imediatamente o GOALNECT pelo e-mail <a href="mailto:contato@goalnect.com">contato@goalnect.com</a>.
	</p>
	<p>
		O GOALNECT obriga-se a não utilizar as informações cadastrais fornecidas pelo USUÁRIO para a realização de quaisquer atividades ilícitas, mas somente para aquelas expressamente permitidas pela legislação brasileira e/ou por este contrato.
	</p>
	<p>
		O USUÁRIO concorda em:
		<ol>
			<li>
				Fornecer informações verdadeiras, exatas, atuais e completas quando for realizar seu cadastro para acesso ao site;
			</li>
			<li>
				Conservar e atualizar suas informações de forma a mantê-las verdadeiras, exatas, atuais e completas;
			</li>
			<li>
				Ser responsabilizado por qualquer informação falsa, incorreta, desatualizada ou incompleta fornecida. Caso o GOALNECT tenha razões suficientes para suspeitar da veracidade e/ou da exatidão de tais informações, terá o direito de suspender ou cancelar, imediatamente e independente de notificação, a conta do usuário.
			</li>
		</ol>
	</p>

	<h2>Taxas e pagamentos</h2>
	<p>
		Todas as doações serão arrecadadas com a utilização do serviço de pagamentos online PagSeguro (<a href="http://www.pagseguro.com.br">http://www.pagseguro.com.br</a>), por meio de cartão de crédito, débito em conta ou boleto bancário, conforme opção do APOIADOR.
	</p>

	<p>
		Todo o dinheiro arrecadado dos APOIADORES para um determinado GOAL (ainda que superior ou inferior ao valor originalmente estimado pelo CRIADOR DO GOAL) será depositado em uma conta PagSeguro. Em média, 15 dias corridos depois da doação ser feita e confirmada, o PagSeguro desconta a sua taxa de transação (que, atualmente, equivalem a 4,99% + R$ 0,40 por transação) e libera o montante para saque.

	<p>
		A ONG terá a opção de escolher a titularidade da conta no PagSeguro, tendo duas opções:
	</p>

	<ol>
		<li>
			<strong>Utilizar uma conta de titularidade da HAYPER no PagSeguro: </strong>
			Uma vez por mês o GOALNECT desconta a sua taxa e o montante arrecadado é transferido do PagSeguro para as contas bancárias de cada ONG apoiada. A ONG tem o direito de receber todo dinheiro arrecadado em seu nome, descontado o montante de 7,5% (sete e meio por cento) devido à HAYPER pela intermediação através do site GOALNECT, e as tarifas cobradas pelo serviço PagSeguro;
		</li>
		<li>
			<strong>Utilizar uma conta de titularidade da ONG no PagSeguro:</strong>
			Esta conta será gerenciada pela ONG e deverá ser uma conta utilizada exclusivamente para arrecadações originadas do GOALNECT. As doações serão feitas diretamente para esta conta no PagSeguro e estão sujeitas as tarifas cobradas pelo serviço PagSeguro. O pagamento da taxa do GOALNECT de 7,5% (sete e meio porcento) sobre o total arrecadado deverá ser efetuado uma vez por mês pela ONG caso haja doações para a mesma.
		</li>
	</ol>
	</p>

	<p>
		Salvo disposição em contrário, todas as taxas são cotadas em Reais (R$).
	</p>
	<p>
		Caso um GOAL seja retirado do GOALNECT por violação dos Termos de Uso, violação de normas legais ou por ordem judicial, os valores doados não serão reembolsados, serão repassados para a ONG escohida. A não ser que o GOALNECT determine, por seu critério exclusivo, que a restituição é apropriada naquele caso.
	</p>
	<p>
		Tendo em vista que o serviço de meios de pagamento online e de cartões de crédito são independentes do GOALNECT, o GOALNECT não dá nenhuma garantia em relação aos pagamentos processados pelo PagSeguro, nem responde por falhas de cartões de crédito.
	</p>

	<h2>Pontos Goalnect</h2>
	<p>
		Cada vez que um APOIADOR fizer uma doação para um GOAL, o CRIADOR DESTE GOAL e o APOIADOR receberá
		1 PONTO GOALNECT para cada R$ 1,00 (um real) doado.
		Doações anônimas não geram pontos para o APOIADOR, somente para o CRIADOR DO GOAL.
		Estes pontos ficarão indisponíveis e só serão liberados se o
		GOAL for atingido dentro do prazo especificado pelo seu criador.
	</p>
	<p>
		(O Goalnect está em processo de firmar parcerias para a definição final de como os pontos serão resgatados, em breve maiores informações serão adicionadas)
	</p>

	<h2>Direitos de propriedade intelectual</h2>
	<p>
		O GOALNECT é titular dos direitos de propriedade intelectual referentes a seu próprio serviço, que são protegidos pelas leis brasileiras e por tratados internacionais. Os direitos do GOALNECT não incluem quaisquer direitos relacionados ao conteúdo criado por seus usuários e exibidos no GOALNECT.
	</p>
	<p>
		O CRIADOR DE GOALS e as ONGS são os detentores dos direitos de propriedade intelectual de suas próprias páginas, sem qualquer participação dos APOIADORES, da HAYPER ou do GOALNECT, gozando de toda a proteção do sistema jurídico brasileiro, notadamente da lei de direitos autorais (9.610/98, lei de propriedade industrial).
	</p>
	<p>
		Entretanto, o CRIADOR DE GOALS e as ONGS estão cientes de que, ao utilizar o GOALNECT, estão tentando angariar fundos com as suas páginas <strong>publicamente</strong> e, com isso, assumem o risco de que suas ideias sejam copiadas por terceiros. O GOALNECT não pode impedir que isso ocorra, nem tem responsabilidade sobre essa situação, que foge completamente de seu controle.
	</p>
	<p>
		O GOALNECT reserva-se o direito de, a seu exclusivo critério e uma vez notificado a respeito, cancelar GOALS e encerrar as contas de CRIADORES DE GOALS e ONGS que violem os direitos de propriedade intelectual de terceiros ou violem outros direitos, assegurados pela legislação brasileira.
	</p>

	<h2>Conteúdo do GOALNECT</h2>
	<p>
		O GOALNECT é uma plataforma online que permite a publicação de conteúdo de usuários, tais como descrições de goals, mensagens e atualizações, sem qualquer monitoramento ou aprovação prévia. O GOALNECT não assume responsabilidade pelo conteúdo gerado por seus usuários, nem tem qualquer obrigação de monitorar esse conteúdo. A plataforma é livre para a discussão.
	</p>
	<p>
		Porém, o GOALNECT reserva-se os direitos de remover e de se recusar a veicular qualquer conteúdo de usuários. O GOALNECT também se reserva os direitos de acessar, ler, preservar e divulgar quaisquer informações necessárias para cumprir este contrato, obedecer disposições legais ou atender a ordens judiciais.
	</p>
	<p>
		O CRIADOR DE GOALS, APOIADORES e ONGS autorizam o GOALNECT  a utilizar vídeos, imagens, textos e conteúdo inserido no GOALNECT para fins não comerciais, tais como: materiais de divulgação do site, peças gráficas, publicações do GOALNECT, vídeos do GOALNECT, inscrições em editais públicos ou privados, concursos, prêmios e afins.
	</p>
	<p>
		O GOALNECT não está autorizado a fazer uso comercial, utilizar este material de forma indevida ou expor o CRIADOR DE GOALS, APOIADORES ou ONGS à situações inapropriadas ou pejorativas.

		<h2>Lei aplicável</h2>
	<p>
		Estes termos de serviço são regidos única e exclusivamente pelas leis brasileiras, sendo que qualquer ação judicial derivada de sua interpretação ou aplicação deverá ser julgada pelo Poder Judiciário brasileiro.
	</p>
	<p>
		Em caso de conflito de leis estaduais ou municipais, para a interpretação de qualquer dúvida ou litígio, deverá sempre prevalecer a legislação do Estado de São Paulo.
	</p>
	<p>
		O foro eleito para resolução de eventuais conflitos é o da cidade de São Paulo, com exclusão de qualquer outro, por mais privilegiado que seja.
	</p>

</div>