<h1>Listing charity_updates</h1>

<table>
  <tr>
    <th>Charity</th>
    <th>Message</th>
  </tr>

<% @charity_updates.each do |charity_update| %>
  <tr>
    <td><%= charity_update.charity_id %></td>
    <td><%=raw_scape_xss(charity_update.message) %></td>
  </tr>
<% end %>
</table>


