/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-wysihtml5
 *= require prettyPhoto
 *= require flexslider.css
 *= require jquery.Jcrop
 *= require_tree .
 */
/* universal */


#main {
	margin-top: 60px;
}

.small_i_font{
	font-size:x-small;
	font-style:italic;
}

.footer {
  background-color:#9B9595;
  color:white;
}

#headlineSubtitle p {
font-size: 17px;
font-family: helvetica;
color: navy;
}

.action-text{
	font-size: 14px;
	font-family: helvetica;
}

.points-summary{
	font-size: 14px;
	font-family: helvetica;
	color: navy;
}
.jq-tabs {border: none}
.jq-tabs .ui-widget { border:none;  padding:0px; margin:0px; }
 .jq-tabs .ui-widget-header { border:none; padding:0px; margin:0px; }
 .jq-tabs .ui-widget-content { border:none; padding:0px; margin:0px; }