// From http://stackoverflow.com/questions/11396478/facebook-login-button-custom-text-reverting

a.fb-button {
    color: #FFF;
    display: inline-block;
    text-decoration: none;
}

a.fb-button:visited {
    color: #FFF;
}

.fb-button {
    @include iconsmain-sprite(facebook);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8a9cc2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #8A9CC2;
    cursor: pointer;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 44px;
    width:173px;
    line-height: 23px;
    padding: 0px 5px 0px 42px;
    text-align: left;
    .fb-button-text {
		margin-top:10px;
    }
}