$font-text: arial, verdana, sans-serif;
$font-title: "BentonSans-Bold";
$azul-logo:#3e58a7;
$cinza-escuro:#666;
$cinza-claro:#d9d9d9;
//$green-logo:#22B089;
$green-logo:#1FA07D;
$magenta-logo:#D4145A;
$azul-claro: $green-logo;

$box-goal-img-border-color:#e4e4e4;
$box-goal-img-background-color:#f5f5f5;
$box-goal-border-color:#e0edf5;

.centraliza{width:960px/*829*/; margin:0 auto; position:relative;padding:20px 0 0 0px;}


body{
	background:url(conteudo-bg.png) top repeat-x;
	margin-top:78px;
    font-family: $font-text;
	color:$cinza-escuro;
}

.body_min_height{
	min-height:300px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f2f2f2;
    margin: 1em 0;
    padding: 0;
}

h1{
    font-size:4em;
	font-family:$font-title;
    color:white;
}

h2{
    font-size: 2.5em;
    color:$azul-logo;
	font-family:$font-title;
	line-height: 36px;
}

#goal-tabs h2{
	font-size:3.9em;
}

h3{
    font-size:18px;
    font-family:$font-title;
    color:$azul-claro;
}

h4{
   color:$azul-claro;
}

h5{
  color:$azul-logo;
  font-family:$font-title;
  font-size:18px;
}

label{
	font-size: 18px;
	line-height: 36px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: white;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

select{
	height: 30px;
} 

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: 20px;
}


.field_with_errors{
	color: #B94A48;
	select, textarea, input, .uneditable-input{
		border: 1px solid #B94A48;
	}
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.small-font{
	font-size:8px;
}

#top-section{
    
}

.column-footer{
	width:215px;
	float:left;
}

#sign_in{
    width:430px;
    margin-right:20px;
	float: left;
}

#facebook_login{
	margin-top:30px;
}

#sign_up{
    width:430px;
	padding-left:20px;
	border-left: 2px solid $cinza-claro;
	float:left;
}

.new_user{
	margin-top: 20px;
}


#bottom-section{
	border-top:2px solid $azul-logo;
    background: #FFFFFF;
    padding:20px 0 0 0px;
	padding-bottom: 20px;
}

#footer-section{
	border-top:2px solid $cinza-escuro;
    background: $cinza-claro;
    padding:20px 0 0 0px;
}
           
.box {
  background-color:#fff;
  padding:10px;
  margin-bottom:15px;
  font-size:1.2em;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  overflow:hidden;
  p {
	 color:$cinza-escuro;
  }
}
              
.box-pequeno{
  @extend .box;
  figure{
     margin-bottom:5px;
  }
}

.img_user_thumb_div {
      width: 160px;
	  height: 160px; 
	  overflow: hidden;
	  position: relative;
}

.img_user_thumbmini_div {
	  width: 50px;
	  height: 50px; 
	  overflow: hidden;
	  position: relative;
	  img{
		vertical-align : top;
	  }
}

.box-grande{
    @extend .box;
    padding: 15px 15px 45px 15px;
	margin-bottom:15px;
    p{
        margin-bottom:15px;
		color:$cinza-escuro;
    }
}

.static {
  @extend .box;
}

.align_right{
	text-align:right;
}

.imagem-goal{
    background:url(goal-bg.png) no-repeat;
	padding-top: 15px;
	padding-left: 15px;
    width:180px;
    height:180px;
    float:left;
}

#infos-goal{
    .descricao-goal{
        width:481px;
        float:left;
    }
}

.goal-social-plugins{
}

#infos-instituicao{
    padding-top:10px;
    .logo-instituicao{
        margin-right:15px;
        float:left;
    }
}


.descricao-instituicao{
    width:400px;
    margin-right:10px;
    float:left;
 	line-height:20px;
    p{
        margin-bottom:0;
    }
	h3{
		a{
			color: $green-logo;
		}
		color: $green-logo;
	}
}

#goal_charity_phrase{
	font-family: $font-title;
	font-size: 14px;
	color: $cinza-escuro;
}

#due_on_section{
	float:left;
	width:450px;
}

#goal-created-by{
	font-family:$font-title;
	font-style:bold;
}

#status-goal{
	div{
		display: inline;
		figure{
	        float:left;
	    }
	    .dias-restantes{
	        background-position:-169px 0;
	        width:90px;
	        height:72px;
	        padding-top:20px;
	        margin-right:15px;
	        text-align:center;
	        float:left;
	        span{
	            line-height:30px;
	        }
	    }
	}
}

#days_left{
	float:left;
}

#status_message{
	float: left;
	margin-top: 25px;
}

#junto_duvido_button_div{
	float:right;
}

.status-bar{
    background:#f0f1f1 url(status-bar-bg.png);
    width:380px;
    height:9px;
    margin-bottom: 15px;
	margin-top: 9px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    .progress{
        background:#a9c639 url(progress-bg.png);
        height:9px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
    }
}

.valores{
	width:380px;
    font-size:22px;
    font-family:$font-title;
    position:relative;
    p{
        color:$green-logo;
    }
    .porcentagem{
        position:absolute;
        top:0;
        right:0;
    }
}

.mygoals_header{
	color:$azul-logo;
	padding-bottom: 15px;
}

.my_goals{
	margin: 0 auto;
}

.box-goal{
    width:215px;
    margin-right:17px;
    float:left;    
	.box-pequeno{     
		border: 2px solid $box-goal-border-color;
		height: 388px;
	}
	.box_goal_content{
		height: 276px;
		overflow: hidden;
	}
	.status-bar {
		width:190px;
		margin-bottom: 5px;
	}
	.valores {
		width: 190px;
		font-size: 10px;
	}
	a.view-challenge{
		margin-left: 27px;
		margin-top: 13px;
	}
	.actions {
		position: absolute;
		margin-top: 8px;
		a {
			display: block;
			height:42px;
			width: 42px;
			float:left;
		}
		
		a.isupport_true{
			@include iconsgoal-sprite(isupport_true_small);	
			margin-right: 2px;
			margin-left: -4px;		
		}
		a.isupport_false{
			@include iconsgoal-sprite(isupport_false_small);
		}	
		a.donate{
			width: 112px;
			@include iconsgoal-sprite(donate_small);
			margin-left: 4px; 
			text-shadow: 0px -1px 0px #9fb353; 
			span{
				float:left;
				margin-top: 12px;
				margin-left: 40px;
				font-family:$font-title;
			    color:white;
				font-size:14px
			}
		}
	}
	&:hover{
		.box-pequeno{     
			border: 2px solid $azul-logo;
		}
    }
}

.descricao-charity{
	width:700px;
    float:left;
	.donations-summary{
		height:100px;
		div{
			width: 230px;
			float:left;
			margin-left: 2px;
			p{
				margin-top: 25px;
				font-family:$font-title;
				font-size:12px;
				strong{
					font-size: 23px;
					color:$azul-logo;
				}
			}
			figure{
				float:left;
			}
		}
		span.donations_list{
			float:right;
		}
	}
}

#points-summary{
height:100px;
div{
	width: 230px;
	float:left;
	p{
		margin-top: 25px;
		font-family:$font-title;
		font-size:12px;
		strong{
			font-size: 23px;
			color:$azul-logo;
		}
	}
	figure{
		margin-right: 20px;
		float:left;
	}
}
span.donations_list{
	float:right;
}
}

#goal_template_form{
	figure{
		float:left;
	}
	.select_form{
		padding-top:30px;
		float:left;
		.subtitle{
			float:right;
			padding-right:30px
		}
	}
	input[type="submit"]{
	    @include iconsmain-sprite(goal_template_submit);
		width:84px;
		height:61px;
		border:none;
		float:left;
	}
}

#charity-quick-links{
	a.button{
		width:100%;
		border:none;
		margin:none;
		&:hover{
			background: $azul-logo;
			color: #fff;
		}
	}
}

.charity-tabs{
	li{
		height:30px;
	}
}


.sing_in_img{
	float:right;
}

.quick-links{
	div {    
		a {text-decoration : none }
		font-size: 14px;
		line-height: 22px;
		margin:none;
		width: 100%;
		&:hover{      
			a{
		        color: #fff !important;; 
			}
			background:$azul-logo;
			font-weight:bold;
			color: #fff !important;;
		}
	}      
}
        

#user_goal_img_donation_summary{
	margin: 10px 25px 10px 25px;      
	border: 1px solid $cinza-claro;
}      

#donation-confirmation{   
	h2{
		padding-bottom: 20px;
	}
	
	p{   
		font-size: 18px;
	}
	
	#pagseguro_accepts {
	  font-size:12px;
	}
	section.pagseguro_form_section {
      text-align:center;
	}
	.pagseguro-logo {
	  padding: 5px 0 0 0;
	  width: 100px;
	}
}             

#donation-step-img{
 	float:right;       
}                      

.donation_confirmation{
  margin-bottom: 20px;
}     

#charity_new_basic_details{
    width:430px;
    margin-right:20px;
	float: left;    
	p{
	  margin-bottom:0px;
	}
}



#charity_new_contact{
    width:430px;
	padding-left:20px;                     
	float:left;  
	p{
	  margin-bottom:0px;
	}
}         

.charity_new_image{
	float:right;
}


#file_upload{
	margin-top:10px;
	width: 120px;
	height: 30px;
	overflow: hidden;
	#fake_file_btn{
		width:120px;
		height:30px;
	}
	
}

#challenge_div{
	margin-left: 200px;
}
#challenge_question{
	font-size: 18px;
}

.charity_hidden{
	display:none;
}
.charity_show{
	display:block;
}
.new_goal_charity_img{
	float:left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.new_goal_charity_description{
	text-align:justify;
}

.goalnections{
	border: 2px solid $box-goal-border-color;
	padding: 10px 10px 10px 10px;
	margin: 0px 10px 10px 0px;
	width:445px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float:left;
	font-size: 12px;
	color: $cinza-escuro;
	#goalnections-header{
		#goalnections-img{
			float:left;
			margin: 5px 5px 5px 0px;
		}
	}
	#goalnections_goal_title{
		color: $azul-logo;
		font-weight: bold;
	}
	#goalnections-hr{
		margin-bottom: 5px;
	}
	li{
		list-style: disc inside;
		font-size:13px;
	}
	.small-paragraph{
		font-size:11px;
		font-weight: normal;
	}
	.pending_action{
		color: $magenta-logo;
	}
}


.my-donations{
	border: 2px solid $box-goal-border-color;
	padding: 10px 10px 10px 10px;
	margin: 0px 10px 10px 0px;
	width:445px;
	height:70px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	color: $cinza-escuro;
	float:left;
	#donations-img{
			float:left;
			margin: 5px 5px 5px 0px;
	}
	#donations_goal_title{
		color: $azul-logo;
		font-weight: bold;
	}
	#donation-text{
		p{
			.status_approved{
				color: $green-logo;
			}
			.status_warning{
				color: $magenta-logo;
			}
		}
	}
	
}

