#search-result-achievers {
}

#search-result-charities {
  display: block;
}

.search-result{ 
  .coluna1 {
    float:left;
    .box-pequeno{
          &:hover{
      		background-color: $azul-logo;
            h5 a {
		      color:#fff;
	        }
      	}
    }
  }
}