#search-result-achievers {
}

#search-result-charities {
  display: block;
}

.search-result{ 
  .coluna1 {
    float:left;
    .box-pequeno{
		  height: 210px;
          &:hover{
      		background-color: $azul-logo;
            h5 a {
		      color:#fff;
	        }
      	}
    }
  }
}

form.search {
input[type=submit] {
     @include iconsmain-sprite(search);
	 width : 50px;
	 height :38px;
	 border : none;
	 color : transparent;
}
input {
	height: 33px;
}
}

#menu-search {
   margin: -41px 0px 0px 177px;
}
