#search-result span {
   font-size: 16px;
}

#search-result img {
   height: 180px;
   width: 180px;
}

#search-result {
   height: 250px;
}

#search-result {
   padding: 10px 0 0 0;
   display: inline-block;
   width: 218px;
}