.static-text {
  font-family: $font-text;
  font-size: 16px;
}

.static {
   p {
     @extend .static-text;
     strong {
       color: $azul-logo;
     }
   }
}

.static h3 {
  font-size: 2.0em;
  color: $azul-logo;
}

.static p, .static ol li {
  @extend .static-text;
  color: black;	
}

.static h2 {
  background: url('question-mark-goalnect-bullet.png') no-repeat;
  background-position-y: 33%;
  padding: 10px 0 13px 40px;
}

#how-it-works {
.qa h3 {
	background: url('question-mark-goalnect-bullet.png') no-repeat;
	background-position-y: 33%;
	padding: 6px 0 13px 40px;
}

.a {
  line-height: 27px;
}

.qa img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
}

