.tabs{
	div.content{
		display:none;
	}
	div.content.active{
		display:block;
	}
	a.tab{
		color: $cinza-claro;
		font-size: 18px;
		font-family: $font-title;
		margin-right:50px;
	}
	a.tab.active{
		color: $azul-logo;
	}
	
}