<article class="box-pequeno">
	<figure>
		<a href="<%= achiever.full_url %>" >
	        <%= image_tag user_image_url(achiever, :thumb), :id => "achiever_profile_img" %>
	    </a>
	</figure>
	<h5 class="achiever_screen_name">
		<a href="<%= achiever.full_url %>" >
			<%= achiever.screen_name %>
	    </a>
	</h5>
</article><!-- /box-pequeno //-->
