<h1>Achiever#view</h1>
<p>
	Find me in app/views/achiever/view.html.erb
</p>
Hi, my name is <%= @achiever.screen_name %> and I'm a GOAL ACHIEVER!!!

<%= image_tag @achiever.image_url(:thumb) if @achiever.image? %>

<div>
<%= render 'goals/new_goal_url' %>
</div>
<div>
<%= link_to 'Edit', edit_user_registration_path(@user) %>	
</div>

                                                         
