	<div class="coluna1">
		<div class="coluna1">
			<%= render '/achiever/achiever_profile', :achiever => @achiever %>     
		</div><!-- /coluna1 //-->
	</div>
	<div class="coluna2">
		<article class="box-grande clearfix">
			<%= render 'achiever/points_summary_horizontal', :achiever =>  @achiever%>
			<hr/>
			<%= render 'goals/goal_template_form', :achiever_username => @achiever.username%>
			<hr/>
			<p>"Badges!!!"</p>
		</article>
	</div>
</div>   
	<section id="bottom-section" clear="" >
		<div class="centraliza clearfix"> 
			<h1 class="mygoals_header">My Goals</h1>
			<div class="my_goals">
			<% my_goals = @achiever.find_active_goals() %>
				<% my_goals.each do |goal| %>   
			     	<%= render 'goals/box', :goal => goal %>
		    	<% end %>  
			
			</div>
		</div>
	</section>
<div>