
<div id="top" >
	<div class="container">
		<div id="navbar" class="navbar navbar-static">
			<div class="navbar-transparent">
				<div class="container">
					<a class="brand" href="/"> <%= image_tag("goalnect.logo.png", id: "logo", alt: "Goalnect", width: "135") %> </a>
				<ul  class="nav pull-right">
						<li>
							<a href="#home">Home</a>
						</li>
						<li>
							<a href="#how">How Does It Work</a>
						</li>
						<li>
							<a href="#why">Why We Are Different</a>
						</li>
						<li>
							<a href="#contact">Are you amazing?</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<br/>
