
<div id="top" >
	<div class="container">
		<div id="navbar" class="navbar navbar-static">
			<div class="navbar-transparent">
				<div class="container">
					<a class="brand" href="/"> <%= image_tag("goalnect.logo.png", id: "logo", alt: "Goalnect", width: "135") %> </a>
				<ul  class="nav pull-right">
						<li>
							<a href="#home">Home</a>
						</li>
						<li>
							<a href="#how">How Does It Work</a>
						</li>
						<li>
							<a href="#why">Why We Are Different</a>
						</li>
						<li>
							<a href="#amazing">Are you amazing?</a>
						</li>
						<li>
							<a href="mailto:team@goalnect.com" target="blank">Contact</a>
						</li>
						
						<% if user_signed_in? %>
						  <span id='current_user_username' style='display:none'>
						  	<%=current_user.username %>
						  </span>
						  <li>
						  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
						  </li>
						<% else %>
						  <li>
						  <%= link_to('Login', new_user_session_path)  %>  
						  </li>
						<% end %>
												
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<br/>
