
<a href = "javascript:void(0)" onclick = "setVideoFrame()">Video</a> <br/>

<a href = "javascript:void(0)" onclick = "setImageFlow()">FLOW</a> <br/>

		
<div id="lightbox" class="white_content">
  <%= image_tag("stop_48.png", id: "close_video", alt: "Close",  width: "25") %>
  <div id="lightBoxContent"></div>
</div>
<div id="fade" class="black_overlay"></div>