<% Togg.le(:feature_fb_social) do %>
	  <div class="g-plusone" data-size="medium"></div>
	  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= current_url %>" data-related="goalnect" data-hashtags="goalnect">Tweet</a>
	  <%= render 'layouts/fb_like_current' %>
<% end %>
