<% Togg.le(:feature_fb_social) do %>
	  <div class="g-plusone" data-size="medium" data-href="<%= url %>"></div>
	  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= text %>" data-via="goalnect" data-url="<%=url%>" data-hashtags="goalnect">Tweet</a>
	   <div class="fb-like" data-href="<%= url %>" data-send="true" data-layout="button_count" data-show-faces="false"></div>
<% end %>